/* Reset default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 1000px;
    background-image: url("../img/bacground/tampilan1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


/* Navbar */
.navbar {
    display: flex;
    padding: 20px;
    justify-content: center;
    background: rgba(40, 39, 39, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbar .nav-logo {
    display: inline;
}

.navbar .nav-logo img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.nav-logo .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #6610f2;
}



/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero-section img {
    width: 100%;
}

.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.footer-text {
    color: #333;
    font-size: 14px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}